body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.current {
  align-items: center;
  margin: auto;
  width: 20%;
}

.current > div > p {
  position: relative;
  bottom: 30px;
}

.day {
  width: 100%;
  border: 1px solid black;
  height: 90%;
}

.day--header {
    background-color: lightgray;
    position: relative;
    bottom: 16.5px;
}

.day--bold {
  font-weight: bold;
}

.temp {
  font-size: 25px;
}

.buttons {
  position: relative;
  bottom: 10px;
}

.forecast--div {
  height: 200px;
  margin: auto;
  display: flex;
  width: 90%;
}

.past--days {
  text-align: center;
}

.past--days--report {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.info > p {
  position: relative;
  bottom: 30px;
}